*{
  color: #24244a;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

p{
  font-size: 1.6rem;
}

.app{
  width: 100%;
  background-image: url('./images/weather2.jpg');
  background-repeat: no-repeat; 
  background-position: center;
  background-size: cover;
  position: absolute;
  position: center;
  justify-content: center;
  background-color: rgb(57, 150, 226); 
  color: white;
  z-index: -1;
}

 .app .search{
  text-align: center;
  padding: 1rem;
} 

.app input { 
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  height: 3rem;
  border-radius: 25px;
  border: none;
  background: rgba(255, 255, 225, 0.1)
}

.app input:focus{
  outline:0;
}

.app ::placeholder{
  color: #24244a;
} 

.container{
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app .upper{
  width: 100%;
  margin: 1rem auto;
}

.app .description{
  position: relative;
  right: -90%;
  transform-origin: 0 0;
  transform: rotate(270deg);
}

.app .lower{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding:0  0 5rem 0 ; 
  border-radius: 12px;
  background-color: rgb(255, 255, 225, 0.2);
}

.bold{
  font-weight: 700;
}
